body{
    color: black;
}
/* Hide scrollbar for Webkit browsers */
/*
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    /* height: 0; /* Remove scrollbar height */
/* }  */

 /* { */
    /* scrollbar-width: none; /* Hide scrollbar for Firefox */
    /* -ms-overflow-style: none;  Hide scrollbar for Internet Explorer and Edge */
/* } */
.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }