body,.Alert {
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding: 20px    ; */

  }
  
  .signup-form {
    /* background-color: #fff8c6; Light yellow form background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

  }
  
  .signup-form h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 94%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .submit-button ,.Exists{
    width: 100%;
    padding: 10px;
    background-color: #f1c40f; /* Yellow button */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #d4ac0d; /* Darker yellow on hover */
  }
  